margin:0;
padding:0;
}
.content{
width:100%;
line-height:30px;
}
.top{
width:100%;
text-align:center;
margin-top:10px;
}
.center{
width:96%;
padding:2%;
}
.center_t{
width:100%;
margin-top:20px;
}
.bottom{
text-align:center;
width:100%;
margin-top:20px;
}
.text{
height:30px;
}
