.{
margin:0;
padding:0;
}
body {
padding:5px;
}
.d_top{
border:solid 1px #8DB6CD;
border-radius:5px;
padding:3px;
}
.d_center{
margin-top:20px;
}
.d_select{
width:100%;
border:solid 1px #8DB6CD;
border-radius:5px;
}
.d_bottom{
border:solid 1px #8DB6CD;
border-radius:5px;
margin-top:100px;
padding:3px;
height:21px;
line-height:21px;
}
.d_b_l{
float:left;
}
.d_b_r{
float:right;
}
