<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<script th:src="@{/assets/js/select-ui.min.js}"></script>
<link rel="stylesheet" th:href="@{/assets/css/select.css}" />
<link rel="stylesheet" th:href="@{/assets/css/modify.css}" />
<body>
	<form th:action="@{/notice/save}"  method="post" >
	<table >
	
	<tr>
		<td>
		消息内容: <textarea name="message"/>
		   <input type="submit" value="确定" />
		</td>
	</tr>
</table>
</form>

</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</html>