@charset "utf-8";
/* CSS Document */
/*浮动*/
.fl{float:left;}
.fr{float:right!important;}
/*清除浮动*/
.clr{clear:both;}
/*居中*/
.mauto{margin:0 auto;}
.mauto20{margin:20px auto;}
.tc{text-align:center;}
.tr{text-align:right;}
/*字体*/
.f12{font-size:12px;}
/*行高*/
.lh15{line-height:15px!important;}
.lh30{line-height:30px!important;}
/*边距*/
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px!important;}
.ml60{margin-left:60px;}
.ml100{margin-left:100px;}
.ml110{margin-left:110px;}
.ml130{margin-left:130px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr60{margin-right:60px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px!important;}
.mt50{margin-top:50px!important;}
.mt100{margin-top:100px!important;}
.mb10{margin-bottom:10px!important;}
.mb20{margin-bottom:20px!important;}
.pt30{padding-top:30px;}
.pt20{padding-top:20px;}
.pl10{padding-left:10px;}
/*宽度*/
.w20{width:20px;}
/*color*/
.red{color:#C00;}
.c999{color:#999;}
.disnone{display:none;}

