<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
  <meta charset="UTF-8" />
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  
  <link rel="stylesheet" th:href="@{/merchant/assets/css/style.css}" />
  <link rel="stylesheet" th:href="@{/merchant/assets/css/style1.css}" />
  <script type="text/javascript" th:src="@{/merchant/assets/js/jquery-1.10.1.min.js}"></script>
  
  <!-- easyui -->  
  <script th:src="@{/assets/js/easyui/jquery.easyui.min.js}"></script>
  <script th:src="@{/assets/js/easyui/locale/easyui-lang-zh_CN.js}"></script>
  <script th:src="@{/assets/js/easyui/custom/common.js?ver=d6}"></script> 
  <link rel="stylesheet" th:href="@{/assets/js/easyui/themes/material/easyui.css?v=2}" />
  <link rel="stylesheet" th:href="@{/assets/js/easyui/themes/icon.css}" />
  <link rel="stylesheet" th:href="@{/assets/js/easyui/themes/color.css}" />
  <link rel="stylesheet" th:href="@{/assets/js/easyui/custom/common.css?ver=1}" />
  <!-- /easyui -->
</head>
<body>
</body>

</html>