<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header" ></head>

<body style="background:url(' + @{/assets/images/bodyBg.png} + ');">
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>用户管理</li>
	    	<li>修改后勤用户</li>
	    </ul>
    </div>
    
    <div class="webPage">
    	<div class="formtext" th:if="${msg!=null}">
			<b th:text="${msg==null?	'':msg}"></b>
		</div>
	    <form class="formbody mauto" th:action="@{/admin/user/save_user}" name="saveForm" id="saveForm" method="post"  enctype="multipart/form-data" >
	    <ul  class="forminfo">
		    <li>
		    	<label style="color:red;font-size:18px">登录名:</label>
		    	<input type="text" placeholder="请输入登录名"  name="username" readonly="readonly" th:value="${su.username}" class="dfinput" />
		    </li>
		    
		    <li>
		    	<label style="color:red;font-size:18px">密码:</label>
		    	<input type="password" name="password" style="float:left;width:200px" class="dfinput" />
		    </li>
		    <li>
		    	<label style="color:red;font-size:18px">选择学校</label>
		    	<select class="formSelect" name="college_id">
		    		<option th:each="c:${colleges}" th:value="${c.id}" th:selected="${su.college_id==c.id}" th:text="${c.name}">是</option>
		    	</select>
		    </li>
		    
		    <li class="ml130 mt20 tc" style="width:200px;">
		    	<input name="saveButton"  id="saveButton" type="button"  class="btn" value="确认保存"/>
		    	<input name="id" type="hidden" th:value="${su.id}"/>
		    	<!-- <input name="add" type="hidden" value="1"/> -->
		    	<div class="clr"></div>
		    </li>
		</ul>
		</form>
	</div>
	<div class="footLeft"></div>
	<div class="footRight"></div>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function() {
	
	//校验表单
	$("#saveButton").click(function(){
		
		
		
		$("#saveForm").submit();
	});
	
});


/*]]>*/
</script>
</html>