<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment/common :: header"></head>
<script th:src="@{/assets/js/select-ui.min.js}"></script>
<link rel="stylesheet" th:href="@{/assets/css/select.css}" />
<link rel="stylesheet" th:href="@{/assets/css/modify.css}" />
<body>
	<div class="place">
    	<span>位置：</span>
	    <ul class="placeul">
	    	<li><a th:href="@{/welcome}">首页</a></li>
	    	<li>账户管理 </li>
	    	<li>签到记录：</li>
	    </ul>
    </div>
    <div class="webPage">
	    <form id="searchForm" th:action="@{/pages/user/signrecorddetail}" method="post" class="formbody">
	    <ul class="seachform mauto">
			<li>
				<label>选择日期:</label>
				<input type="text" name="date1" th:value="${date1}" class="dfinput" style="width:200px" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>-
				<input type="text" name="date2" th:value="${date2}" class="dfinput" style="width:200px" onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
			</li>
		    <li class="fr mr0"><label>&nbsp;</label><input id="searchButton" name="searchButton" type="submit" value="查询" /></li>
			</ul>
			<div style="width:1200px">
				<span th:unless="${srs!=null and not #lists.isEmpty(srs)}" th:utext="暂无数据！"></span>
				<table class="tablelist mauto"  th:if="${srs!=null and not #lists.isEmpty(srs)}">
					<thead>
						<tr>
							<th width="60">签到人</th>
							<th width="150">签到时间</th>
							<th width="100">获得抢位卡</th>
							<th width="200">获得幸运卡</th>
							<th width="200">经验</th>
							<th width="50">金币</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="u:${srs}">
							<td th:text="${u.name}"></td>
							<td th:text="${u.sign_time}"></td>
							<td th:text="${u.grab}"></td>
							<td th:text="${u.lucky}"></td>
							<td th:text="${u.exp}"></td>
							<td th:text="${u.gold_count}"></td>
						</tr>
					</tbody>
				</table>
				<div class="mt10" th:if="${srs!=null and not #lists.isEmpty(srs)}" th:include="fragment/paginationbar :: paginationbar"></div>
	        </div>
		</form>
	</div>
	<div class="footLeft"></div>
	<div class="footRight"></div>
</body>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
/*]]>*/
</script>
</html>